.infobox
  .infobox__container
    .infobox__flex
      .infobox__title Żeglarstwo dla każdego
      .infobox__content
        +lorem(30)
        br
        br
        +lorem(20)
        br
        br
        +lorem(10)