.header
  background: $textBlue
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  
  
  &__container
    +container-out
    position: relative
    display: flex
    align-items: center
    height: 46px

  &__relative
    position: relative
    width: 100%
  
  &__panel
    display: flex
    width: 100%
    +PC_MIN
      display: flex
      align-items: center
      justify-content: space-between