.contact
  padding: 140px 0
  color: $textBlue
  
  &__container
    +container
    
  &__flex
    display: flex
    justify-content: space-between
    align-items: stretch
    +PHONE_ONLY
      flex-direction: column
    
  &__column
    display: flex
    align-items: stretch
    flex-direction: column
    position: relative
    +TAB_MIN
      width: 40%
      
    
  &__title
    +font(size 24px)
    margin-bottom: 10px
    text-transform: uppercase
    span
      +font(weight 900)
    
  &__content
    +font(size 12px)
    color: $textLightGrey
    
  &__input
    width: 100%
    height: 40px
    border: 1px solid $textGrey
    text-align: center
    margin: 40px 0
    +PC_MIN
      max-width: 310px
  
  &__button
    +TAB_MIN
      position: absolute
      bottom: 0
      
  &__infoBox
    margin: 30px 0
    display: flex
    align-items: center
      
  &__icon
    width: 50px
    height: 50px
    border: 2px solid $textBlue
    border-radius: 50%
    position: relative
    
    i
      +absolute-center
      &.fa-mobile
        +font(size 35px)
      &.fa-envelope-o
        +font(size 25px)
        
  &__info
    +font(size 24px)
    margin-left: 30px
    