.contact
  .contact__container
    .contact__flex
      .contact__column
        .contact__title <span>Dowiedz się</span> o nowościach <br/>i ofertach specjalnych
        .contact__content
          +lorem(8)
          br
          +lorem(8)
        input.contact__input(type='text' placeholder='Wpisz swój adres e-mail')
        .contact__button
          include ../button/button-contact

      .contact__column
        .contact__title Masz pytania? <br/><span>Napisz do nas lub zadzwoń</span>
        a.contact__infoBox(href='#')
          .contact__icon
            i.fa.fa-mobile
          .contact__info info@na-wiatr.pl
        a.contact__infoBox(href='#')
          .contact__icon
            i.fa.fa-envelope-o
          .contact__info +48 609 070 517