extends ../layout/body

block headScripts

block content

  include ../blocks/gallery/gallery
  include ../blocks/smallbox/smallbox-grid
  include ../blocks/cards/cards-slider
  include ../blocks/break/break
  include ../blocks/contact/contact
