extends ../layout/body

block headScripts

block content

  include ../blocks/banner/banner-pages
  include ../blocks/infobox/infobox
  include ../blocks/gallery/gallery
  include ../blocks/contact/contact
