@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

=fontLato
  font-family: 'Lato', sans-serif

body
  +fontLato
  font-size: 16px
  line-height: 1.2
  color: $textGrey
  
a
  color: inherit
  text-decoration: none
  
strong
  +font(weight 700)

input, textarea, button
  margin: 0

*::selection
  background-color: $primaryYellow
  color: $primaryBlue

  



