.button
  +font(size 18px)
  display: inline-block
  text-transform: uppercase
  border: 2px solid $bgWhite
  position: relative
  border-radius: 50px
  overflow: hidden
  z-index: 2
  &:hover
    color: $primaryBlue
    &:after
      transform: translateX(0)
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: $bgWhite
    transform: translateX(-110%)
    transition: 0.5s ease all
    z-index: -1
    
  &.-small
    +font(size 13px)
    padding: 10px 25px
    border-color: $textBlue
    color: $textBlue
    &:after
      background: $textBlue
    &:hover
      color: $bgWhite
    
    
  &.-big
    padding: 13px 30px
    
  &.-contact
    +font(size 13px)
    padding: 10px 25px
    background: $green
    border-color: $green
    color: $bgWhite
    &:hover
      color: $green
      