.smallbox
  padding-top: 70px
  
  &__title
    padding-bottom: 70px
  
  &__flex
    display: flex
    flex-wrap: wrap
  
  &__item
    display: flex
    align-items: stretch
    width: 100%
    height: 450px
    +TAB_MIN
      width: 50%
    +TAB_MAX
      flex-direction: column
  
  &__content
    +flex-center
    flex-direction: column
    padding: 50px
    color: $textBlue
    position: relative
    text-align: center
    +TAB_MAX
      height: 50%
    +PC_MIN
      width: 50%
    &:after
      content: ''
      background: inherit
      position: absolute
      width: 40px
      height: 40px
      +TAB_MAX
        top: -20px
        left: 50%
        transform: translateX(-50%) rotate(45deg)
      +PC_MIN
        top: 50%
        transform: translateY(-50%) rotate(45deg)
    
    &.-first, &.-second
      +PC_MIN
        order: 1
        &:after
          left: -20px
    
    &.-third, &.-fourth
      +PC_MIN
        order: -1
        &:after
          right: -20px
    
    &.-second, &.-fourth
      +TAB_ONLY
        order: -1
        &:after
          top: auto
          bottom: -20px
    
    &.-first
      background: $textBlue
      color: $bgWhite
    
    &.-second
      background: #dcd7c8
    
    &.-third
      background: #f1cf54
    
    &.-fourth
      background: #49a7e0
  
  &__itemTitle
    +font(size 24px)
    text-transform: uppercase
  
  &__itemContent
    +font(size 16px)
    margin-top: 30px
    +PHONE_ONLY
      display: none
  
  &__img
    background-size: cover
    +TAB_MAX
      width: 100%
      height: 50%
    +PC_MIN
      width: 50%