.smallbox
  .smallbox__title
    include ../title/title-banner

  .smallbox__flex
    - for(var i = 1; i <= 4; i++)
      - var itemStyle = 'background-image: url("assets/img/smallbox'+ i +'.jpg")';
      - var itemClass = ['-fourth', '-first', '-second', '-third'];

      .smallbox__item
        .smallbox__img(style=itemStyle)
        .smallbox__content(class=itemClass[i % 4])
          .smallbox__itemTitle
            +lorem(3)
          .smallbox__itemContent
            +lorem(10)