=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
    
=row
  +clearfix

=container
  margin: 0 auto
  padding: 0 20px
  max-width: 1180px
  
=container-out
  margin: 0 auto
  padding: 0 20px
  max-width: 1780px

=absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)