.footer
  +font(size 12px weight 700)
  background: $bgWhite
  padding: 30px 0
  color: $textBlue
  span
    color: $textLightGrey
  
  &__container
    +container-out
    
  &__flex
    display: flex
    +TAB_MIN
      align-items: center
      justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
  
  &__link
    display: inline-block
    margin: 0 20px
    
    i
      +font(size 24px)
      
      &.fa-google-plus
        color: #dc4a3d
      &.fa-facebook-official
        color: #527ABC
      &.fa-instagram
        color: #1C577D
    
    