.footer
  .footer__container
    .footer__flex
      .footer__item
        .footer__brands ® Copyrights 2016 by Baza Tałty

      .footer__item
        a.footer__link(href='#')
          i.fa.fa-facebook-official
        a.footer__link(href='#')
          i.fa.fa-google-plus
        a.footer__link(href='#')
          i.fa.fa-instagram

      .footer__item
        .footer__brands <span>o naszą markę dba</span> dopaminastudio.