.menu
  +clearfix
  position: relative
  display: flex
  z-index: 1000
  text-align: center
  +TAB_MAX
    width: 100%
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: none
    z-index: 1000
  
  &__button
    position: absolute
    right: 0
    top: 0
    color: white
    font-size: 18px
    cursor: pointer
    +TAB_MAX
      font-size: 24px
    +PC_MIN
      display: none
  
  &__list
    +clearfix
    position: relative
    display: inline-block
    text-align: left
    +PC_MIN
      display: block !important
    
    &.-main
      +TAB_MAX
        position: fixed
        top: 46px
        bottom: 0
        right: 0
        transition: 0.5s ease all
        z-index: 9001
        overflow-y: scroll
        background-color: $textBlue
        transform: translateX(100%)
        &.show
          transform: translateX(0)
  
  &__item
    display: block
    position: relative
    
    .menu__list.-main &
      float: left
      +TAB_MAX
        float: none
  
  &__link
    display: block
    white-space: nowrap
    cursor: pointer
    color: white
    font-size: 14px
    +TAB_MAX
      padding: 20px 70px
      text-align: center
      &:hover
        background: $primaryBlue
    +PC_MIN
      margin-left: 20px
      &:hover
        color: $primaryYellow