$loaderBg: $bgWhite
$loaderColor1: $primaryBlue
$loaderTime: 2.5s

.loader
  background-color: $loaderBg
  height: 100%
  width: 100%
  position: fixed
  z-index: 100
  top: 0
  left: 0
  transition: 1s ease all
  &.-hide
    opacity: 0
    pointer-events: none
    
    .loader__box
      transform: scale(0.4)
  
  &__box
    width: 100%
    height: 100%
    position: relative
    transition: 1s ease all
  
  &__center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  
  &__object
    width: 80px
    height: 80px
    background: $loaderColor1
    animation: animate $loaderTime infinite
  
  @keyframes animate
    50%
      transform: rotate(180deg)
    
    100%
      transform: rotate(0deg)