.gallery
  - for(var i = 1; i <= 4; i++)
    - var itemStyle = 'background-image: url("assets/img/gallery'+ i +'.jpg")';
    .gallery__item(style=itemStyle)
      .gallery__title <span>Dla</span> dorosłych
