.gallery
  display: flex
  flex-wrap: wrap
  
  &__item
    +flex-center
    text-align: center
    background-position: center
    background-size: cover
    height: 300px
    width: 100%
    color: $bgWhite
    +TAB_MIN
      width: 50%
    +PC_MIN
      height: 700px
      width: 25%
    
  &__title
    +font(size 40px weight 900)
    text-transform: uppercase
    
    span
      display: block
      +font(weight 300)