.break
  color: $textWhite
  
  &__container
    +container
    
  &__flex
    +flex-center
    min-height: 600px
    flex-direction: column
    text-align: center
    
  &__img
    margin: 50px 0
    
  &__title
    +font(size 24px weight 700)
    text-transform: uppercase
    margin-bottom: 30px
    
  &__content
    +font(size 18px weight 300)
    
  &__button
    margin: 50px 0