- var itemStyle = 'background-image: url("' + imgDir + 'break1.jpg")';

.break.parallax(style=itemStyle)
  .break__container
    .break__flex
      - var itemSrc = imgDir + 'break2.png';
      img.break__img(src=itemSrc alt="footer__icon")
      .break__title Doświadczenie | pasja | kreatywność
      .break__content
        +lorem(60)
      .break__button
        include ../button/button-big