.slick-dots
  display: flex
  justify-content: center
  margin-top: 70px

.slick-dot
  background: #a9afb3
  height: 10px
  width: 10px
  margin: 5px
  border-radius: 50%
  border: 1px solid #a9afb3
  