.cards
  .cards__container
    .cards__title
      include ../title/title-banner

    .cards__slider
      - for(var i = 1; i <= 10; i++)
        .cards__item
          .cards__box
            .cards__itemCategory Dla dzieci
            .cards__itemTitle Dlaczego żeglarstwo jest dobre dla dzieci
            .cards__itemDate 24 czerwiec 2016
            .cards__itemContent
              +lorem(20)
            .cards__itemButton
              include ../button/button-small
          .cards__itemSettings
            .cards__box
              .cards__setting.-trigger
                i.fa.fa-share-alt
              .cards__settingsOptions
                a.cards__setting(href='#')
                  i.fa.fa-facebook
                a.cards__setting(href='#')
                  i.fa.fa-twitter
                a.cards__setting(href='#')
                  i.fa.fa-google-plus
                a.cards__setting(href='#')
                  i.fa.fa-instagram
                a.cards__setting(href='#')
                  i.fa.fa-rss

    .cards__button
      include ../button/button-small