.cards
  background: #ededed
  padding: 70px 0
  
  &__container
    +container
    
  &__title
    padding-bottom: 70px
  
  &__item
    background: $bgWhite
    width: 380px
    margin: 0 10px
    height: 480px
    text-align: center
    overflow: hidden
  
  &__box
    padding: 30px
  
  &__itemCategory
    +font(size 14 pxs)
    text-transform: uppercase
    color: $green
    margin-bottom: 30px
  
  &__itemTitle
    +font(size 18px weight 900)
    text-transform: uppercase
    margin-bottom: 30px
  
  &__itemDate
    +font(size 16px style italic)
    color: $textLightGrey
    margin-bottom: 30px
  
  &__itemContent
    height: 120px
    text-align: left
    margin-bottom: 30px
  
  &__itemSettings
    border-top: 1px dotted $textLightGrey
    padding: 10px 0
    text-align: right
    position: relative
    &:hover
      .cards__settingsOptions
        transform: translate(0, -50%)
        opacity: 1
    
    .cards__box
      padding-top: 0
      padding-bottom: 0
  
  &__settingsOptions
    display: flex
    position: absolute
    top: 50%
    transform: translate(-120%, -50%)
    opacity: 0
    transition: 0.5s ease all
  
  &__setting
    width: 35px
    height: 33px
    position: relative
    margin-right: 10px
    border-radius: 50%
    border: 1px dotted $textLightGrey
    
    &.-trigger
      display: inline-block
      cursor: pointer
      margin-right: 0
      border: none
    
    i
      +absolute-center
      
  &__button
    padding-top: 70px
    text-align: center
    
    
  
    
    