include settings

doctype html
html(lang='pl')

  include head

  body

    include ../blocks/loader/loader
    include ../blocks/header/header

    block content

    include ../blocks/footer/footer

    block scripts
      // build:js assets/js/prod.js
      // bower:js
      // endbower
      script(src='../bower_components/imagesloaded/imagesloaded.pkgd.js')
      script(src='assets/js/dev.js')
      // endbuild